# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
src/windows/mbedtls_wrapper/.vs/
src/windows/mbedtls_wrapper/mbedtls_wrapper.vcxproj.filters
src/windows/mbedtls_wrapper/mbedtls_wrapper.vcxproj.user
src/windows/mbedtls_wrapper/mbedtls_wrapper/Debug/
src/windows/mbedtls_wrapper/mbedtls_wrapper/Release/
src/windows/mbedtls_wrapper/packages/mbedtls-v143-static.3.5.0/
src/windows/mbedtls_wrapper/Release/
